In [1]:
import pandas as pd

In [2]:
home_df = pd.read_csv('../Source/Metro_Home_Values.csv')
home_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31
0,102001,0,United States,country,NaN,123951.733006,124163.176264,124425.524492,124988.958362,125637.500450,...,355986.448327,356640.365507,357118.576760,357576.035711,358418.372959,360011.602927,361969.362164,3.635033e+05,3.641659e+05,3.643848e+05
1,394913,1,"New York, NY",msa,NY,219657.598399,220586.011622,221519.660004,223407.993412,225353.501267,...,656116.650291,658992.330717,662322.088290,665541.460972,669925.455906,675684.524493,682290.159549,6.873056e+05,6.905686e+05,6.932481e+05
2,753899,2,"Los Angeles, CA",msa,CA,236649.976987,237553.116159,238728.814647,241071.926563,243614.826354,...,978656.081035,988006.132016,993962.586203,994044.629696,990763.189872,989599.749912,993777.833894,1.000601e+06,1.005222e+06,1.010107e+06
3,394463,3,"Chicago, IL",msa,IL,159899.676257,160054.921113,160340.806271,161051.946252,161901.787792,...,328270.794339,329219.545752,329991.513159,330838.545303,332482.161364,335195.288195,338356.149580,3.407269e+05,3.421063e+05,3.429366e+05
4,394514,4,"Dallas, TX",msa,TX,129057.198121,129114.277857,129184.712729,129363.326656,129593.351700,...,380533.777024,380382.508383,380056.886976,380085.827764,380580.411239,381762.207346,382759.281581,3.829150e+05,3.822440e+05,3.812958e+05

In [3]:
# Define the columns to keep:
# First five columns
columns_to_keep = home_df.columns[:5]

# Extract year from columns and identify columns for 2022, 2023, and 2024
def extract_year_from_column(col_name):
    try:
        return col_name.split('-')[0]  # Extract year from 'YYYY-MM-DD'
    except IndexError:
        return None

# Create a set of years to keep
years_to_keep = {'2022', '2023', '2024'}

# Filter columns to keep only those starting with the specified years
columns_for_years = [col for col in home_df.columns if extract_year_from_column(col) in years_to_keep]

# Combine the columns to keep
all_columns_to_keep = list(columns_to_keep) + columns_for_years

# Filter DataFrame
home_df_filtered = home_df[all_columns_to_keep]
home_df_filtered

,RegionID,SizeRank,RegionName,RegionType,StateName,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,...,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31
0,102001,0,United States,country,NaN,320700.284203,326181.531843,332629.950264,339020.793617,344703.243672,...,355986.448327,356640.365507,357118.576760,357576.035711,358418.372959,360011.602927,361969.362164,3.635033e+05,3.641659e+05,3.643848e+05
1,394913,1,"New York, NY",msa,NY,598260.378873,603439.125413,610178.591413,617285.770917,624597.079863,...,656116.650291,658992.330717,662322.088290,665541.460972,669925.455906,675684.524493,682290.159549,6.873056e+05,6.905686e+05,6.932481e+05
2,753899,2,"Los Angeles, CA",msa,CA,894792.771132,910936.872422,929269.604158,945664.677506,958438.584519,...,978656.081035,988006.132016,993962.586203,994044.629696,990763.189872,989599.749912,993777.833894,1.000601e+06,1.005222e+06,1.010107e+06
3,394463,3,"Chicago, IL",msa,IL,296230.219751,300490.747719,305824.990782,310947.100611,314607.212012,...,328270.794339,329219.545752,329991.513159,330838.545303,332482.161364,335195.288195,338356.149580,3.407269e+05,3.421063e+05,3.429366e+05
4,394514,4,"Dallas, TX",msa,TX,343463.843762,351965.425264,361615.483923,371151.091319,379780.350552,...,380533.777024,380382.508383,380056.886976,380085.827764,380580.411239,381762.207346,382759.281581,3.829150e+05,3.822440e+05,3.812958e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,753929,935,"Zapata, TX",msa,TX,147042.070311,146686.239494,145454.961640,144112.231681,144207.105649,...,124547.031380,122338.760387,120284.544997,118569.499840,117733.766672,117811.796274,119242.025068,1.208697e+05,1.218988e+05,1.220752e+05
891,394743,936,"Ketchikan, AK",msa,AK,421046.237620,422621.548470,424880.605044,427683.152403,432380.124763,...,430162.304681,426865.266476,423965.648960,423457.606149,423400.547313,425166.352814,426865.782342,4.281101e+05,4.280975e+05,4.271596e+05
892,753874,937,"Craig, CO",msa,CO,242915.823136,247514.184510,251495.912757,255057.674024,257847.213522,...,291672.198531,292412.687064,292344.802219,291552.668152,291483.099905,291958.734641,292753.813872,2.936681e+05,2.940164e+05,2.943587e+05
893,395188,938,"Vernon, TX",msa,TX,96328.280870,98587.074330,100726.626245,101946.287031,103014.916880,...,97651.281511,96117.960519,94767.283797,94062.082438,94161.423281,94877.489624,95666.336569,9.634301e+04,9.659689e+04,9.634983e+04
894,394767,939,"Lamesa, TX",msa,TX,119879.711566,119769.528941,119136.015346,117769.069168,116574.922032,...,98553.321910,97646.633846,96196.584694,95403.020805,94204.376428,94247.953608,94473.532219,9.546670e+04,9.685846e+04,9.883584e+04

In [3]:
gdp_df = pd.read_csv('../Source/GDP_2023.csv')
gdp_df.head()

   GeoFips        GeoName        2023
0        0  United States  22376906.0
1     1000        Alabama    241753.1
2     2000         Alaska     53006.3
3     4000        Arizona    414273.3
4     5000       Arkansas    140784.7