In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
import numpy as np

In [3]:
home_df = pd.read_csv('../Source/filtered_home_df.csv')
home_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,housingPercentChange,discrepancy
0,102001,0,United States,country,USA,188211.155261,189021.319587,189847.798856,190756.066067,191755.432776,...,357118.576760,357576.035711,358418.372959,360011.602927,361969.362164,363503.321866,364165.906995,364384.810590,93.604258,18.577057
1,394299,251,"Abilene, TX",msa,TX,116800.595050,117081.811975,117607.011253,118188.855822,118650.044099,...,191104.713083,191168.646556,191895.586212,193224.785314,194664.910874,195355.061992,195459.366448,194900.821983,66.866292,9.557223
2,394304,83,"Akron, OH",msa,OH,120102.163828,120101.111310,120096.438119,120548.211980,121246.090732,...,214016.228955,214378.717565,215226.845932,216930.776064,219253.225285,221406.478855,222904.047999,223822.771257,86.360315,16.553007
3,394308,64,"Albany, NY",msa,NY,202239.261415,202746.238898,203199.328919,203607.285462,204017.138617,...,323988.027020,325163.552854,326799.002703,328968.874016,331765.306711,334428.769717,336441.346141,338039.246133,67.148181,0.351723
4,394312,62,"Albuquerque, NM",msa,NM,173035.342285,173603.094282,174285.048982,175055.558200,175507.486038,...,333351.629180,334461.994196,335570.283667,337338.946222,339196.998140,340541.588924,340771.315083,340734.171076,96.915940,13.441366

In [4]:
rental_df = pd.read_csv('../Source/rental_df.csv')
rental_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,rentalPercentChange
0,102001,0,United States,country,USA,1310.862067,1317.635432,1326.592064,1337.166174,1347.094223,...,2213.517002,2214.817776,2222.706032,2233.819378,2249.433872,2262.554936,2275.422072,2285.166408,2294.365189,75.027201
1,394299,251,"Abilene, TX",msa,TX,975.342756,976.731022,972.594031,976.605687,990.087656,...,1477.258948,1460.553702,1464.349388,1465.173211,1489.057823,1521.466343,1535.699422,1541.539681,1534.302611,57.309069
2,394304,83,"Akron, OH",msa,OH,799.963745,799.444330,794.695413,809.017360,810.941579,...,1291.077986,1299.707092,1313.416939,1324.198885,1312.175436,1318.633294,1322.399550,1344.870012,1358.396907,69.807309
3,394308,64,"Albany, NY",msa,NY,1394.809405,1424.351695,1433.907926,1437.900711,1438.200996,...,2196.431549,2196.525040,2286.016091,2258.880520,2287.928469,2236.977051,2297.179644,2312.802631,2326.492685,66.796458
4,394312,62,"Albuquerque, NM",msa,NM,1122.820680,1125.679974,1137.171708,1143.781134,1149.529923,...,2005.984398,2018.085217,2016.503414,2013.389959,2012.501254,2040.708325,2056.063908,2067.411738,2060.090464,83.474574

In [5]:
# Extract year from columns and identify columns for  2018, 2019, 2020, 2021, and 2022
def extract_year_from_column(col_name):
    try:
        return col_name.split('-')[0]  # Extract year from 'YYYY-MM-DD'
    except IndexError:
        return None

In [6]:
# Create a set of years to keep
years_to_keep = {'2018', '2019', '2020', '2021', '2022'}

In [7]:
# Filter columns to keep only those starting with the specified years
columns_for_years = [col for col in home_df.columns if extract_year_from_column(col) in years_to_keep]

In [8]:
# Combine the columns to keep
columns_to_keep = columns_for_years

In [9]:
# Filter DataFrame
home_df_filtered = home_df[columns_to_keep]
home_df_filtered

,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,2018-08-31,2018-09-30,2018-10-31,...,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31
0,224936.796550,226157.453423,227565.539106,228842.102569,230082.570244,230993.562149,232134.905087,233227.205280,234317.669090,235060.406971,...,332629.950264,339020.793617,344703.243672,349430.700834,351906.799070,352272.772884,350965.103895,349689.284248,348607.881444,347625.532668
1,133031.476217,133547.127525,134348.659156,135118.037206,136081.771430,136894.119038,137777.287759,138625.385831,139394.836263,139970.378529,...,182002.606538,183897.937753,185449.685515,186875.456424,187803.496374,188154.766148,188013.566205,188069.776553,188332.433211,188524.382717
2,139471.623425,140068.191250,140844.483553,141611.196965,142288.821741,142787.164315,143286.212877,143869.310894,144591.456011,145212.516597,...,193084.473737,195915.170400,198202.958025,200420.523296,201792.992186,202435.384252,202401.934413,202454.179600,202644.750182,202651.946109
3,222038.341715,222755.900814,223686.257443,224408.542961,225448.623400,226420.012848,227636.577419,228750.004966,229673.877017,229949.379180,...,292198.525013,295837.833190,299371.777173,303100.485961,305799.263467,307716.809823,308138.336849,308353.608319,308381.863084,308469.285110
4,193524.615801,194095.507485,194744.013558,195469.980597,196161.255220,196715.489112,197508.913041,198402.482297,199376.678542,200000.252624,...,299093.312061,305613.632547,310694.093397,314869.457487,317366.977118,318118.417859,317173.091420,316131.089009,315393.158576,315022.438155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,131705.351042,132279.405914,132886.599840,133320.013271,133692.456544,133960.427897,134478.828312,135039.159738,135712.293393,136214.096122,...,186753.278055,189428.709155,191646.671141,193643.359044,195061.353759,196024.560942,196307.512307,196702.808875,197277.099429,198091.597638
160,247861.885378,249189.635247,250436.050977,251543.885134,252525.639108,253289.404933,254112.437152,254989.342177,255920.993826,256814.299046,...,370672.867291,378921.030017,386720.530646,393466.943175,397683.894884,400006.438994,401190.107592,402924.349012,404435.762052,405249.087220
161,238165.655379,239122.461748,240253.912104,241263.934505,242263.341527,242697.043384,243216.532789,243412.261419,243908.252621,244258.610497,...,336417.309970,341919.501572,346497.575002,349883.017144,350986.813349,350383.076837,348633.534421,347543.115851,346926.917275,346507.847913
162,156063.895398,156620.865940,157232.203000,157919.051837,158662.217813,159346.240700,160178.100881,161072.120922,162117.291229,162949.322050,...,234986.174080,240112.316903,244864.890528,249222.565311,252287.325678,253860.784546,254166.702900,254287.226398,254352.978279,254324.755479
163,182780.885191,183396.151355,183974.706214,184266.635831,184528.666206,184786.801905,185258.742550,185806.331598,186191.497643,186472.900275,...,249264.434177,253841.635654,257352.223314,259977.896976,261514.744160,262251.154520,262121.811738,262433.243604,263135.742960,264427.812212

In [16]:
# Export as a json file
home_df_filtered.head(1).to_json('home_output_data.json', orient='records', indent=4)

In [10]:
# Filter columns to keep only those starting with the specified years
columns_for_years_r = [col for col in rental_df.columns if extract_year_from_column(col) in years_to_keep]

In [11]:
# Combine the columns to keep
columns_to_keep = columns_for_years_r

In [12]:
# Filter DataFrame
rental_df_filtered = rental_df[columns_to_keep]
rental_df_filtered

,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,2018-08-31,2018-09-30,2018-10-31,...,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31
0,1492.307015,1500.575103,1512.124266,1523.495113,1533.272269,1541.018234,1545.873688,1548.352677,1548.448493,1548.855666,...,2007.801555,2030.730705,2050.214834,2070.178371,2085.880083,2099.482303,2105.888250,2110.200428,2109.419953,2114.130270
1,1059.011047,1063.887132,1062.930055,1068.916443,1073.507134,1084.288261,1087.388091,1086.341295,1080.974587,1075.500611,...,1338.132846,1356.174334,1373.446141,1397.714052,1402.170964,1424.331086,1428.752810,1432.115739,1427.523817,1430.221024
2,857.222116,864.806099,870.774530,871.155409,868.714367,872.552516,875.012118,876.783045,874.086820,871.743134,...,1117.983246,1148.311653,1158.127366,1172.324919,1179.560375,1194.753889,1206.955397,1215.030434,1210.100899,1208.159742
3,1531.267774,1545.178941,1552.609787,1577.704992,1594.792827,1599.590588,1577.688811,1570.857005,1568.921795,1590.324104,...,1959.559748,1949.126758,1960.687379,1980.233979,2039.993167,2055.780828,2053.232879,2041.035149,2044.714999,2104.442253
4,1224.388203,1236.208925,1248.598777,1260.244761,1265.936914,1273.426408,1277.237002,1277.269714,1271.445173,1268.911248,...,1737.355392,1758.288800,1792.732244,1813.353830,1831.431270,1836.383723,1848.979457,1851.756174,1870.115076,1861.046086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,867.485025,872.403412,878.998068,880.612360,886.354863,888.834932,890.613048,889.379223,887.087041,885.423104,...,1067.380462,1077.124232,1086.888331,1094.262291,1107.888616,1115.727955,1123.362613,1125.456039,1132.851127,1131.983249
160,1300.590619,1303.261606,1319.495750,1340.972860,1364.376614,1359.279824,1363.629424,1360.348085,1392.205866,1403.930002,...,1952.402062,1954.087718,1999.248145,2026.374073,2070.070543,2079.523281,2095.812047,2083.339889,2069.760411,2069.164265
161,1233.438605,1237.403012,1246.377379,1258.055890,1261.347734,1261.984640,1266.415026,1265.956400,1273.946710,1281.159449,...,1706.304943,1729.323468,1749.977916,1726.680520,1744.587085,1746.494189,1769.402902,1762.466036,1772.599026,1772.433152
162,1132.278424,1138.383634,1150.446847,1162.135905,1177.382561,1182.068438,1182.392635,1174.248219,1177.429642,1173.921993,...,1601.245893,1613.698939,1610.226572,1628.556532,1655.702847,1682.833822,1714.368437,1719.343807,1723.244160,1715.842308
163,970.257455,984.565138,998.433171,1015.061781,1014.549821,1004.203636,1004.406400,1009.909075,1027.035510,1026.925108,...,1273.644140,1289.484139,1317.295483,1347.622061,1341.697553,1331.359214,1323.749853,1324.847030,1353.964445,1376.660668

In [17]:
# Export as a json file
rental_df_filtered.head(1).to_json('rental_output_data.json', orient='records', indent=4)