In [1]:
import pandas as pd

In [2]:
home_df = pd.read_csv('../SOURCE/filtered_home_df.csv')

In [3]:
home_df

,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,housingPercentChange,discrepancy
0,102001,0,United States,country,USA,188211.155261,189021.319587,189847.798856,190756.066067,191755.432776,...,357118.576760,357576.035711,358418.372959,360011.602927,361969.362164,363503.321866,364165.906995,364384.810590,93.604258,18.577057
1,394299,251,"Abilene, TX",msa,TX,116800.595050,117081.811975,117607.011253,118188.855822,118650.044099,...,191104.713083,191168.646556,191895.586212,193224.785314,194664.910874,195355.061992,195459.366448,194900.821983,66.866292,9.557223
2,394304,83,"Akron, OH",msa,OH,120102.163828,120101.111310,120096.438119,120548.211980,121246.090732,...,214016.228955,214378.717565,215226.845932,216930.776064,219253.225285,221406.478855,222904.047999,223822.771257,86.360315,16.553007
3,394308,64,"Albany, NY",msa,NY,202239.261415,202746.238898,203199.328919,203607.285462,204017.138617,...,323988.027020,325163.552854,326799.002703,328968.874016,331765.306711,334428.769717,336441.346141,338039.246133,67.148181,0.351723
4,394312,62,"Albuquerque, NM",msa,NM,173035.342285,173603.094282,174285.048982,175055.558200,175507.486038,...,333351.629180,334461.994196,335570.283667,337338.946222,339196.998140,340541.588924,340771.315083,340734.171076,96.915940,13.441366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,395224,94,"Wichita, KS",msa,KS,117721.189468,118083.756804,118456.731311,118999.567389,119546.443461,...,208421.450760,208529.794302,209585.274829,211453.275082,213633.844053,215673.526991,217512.373885,219134.559742,86.147083,37.297889
160,395229,174,"Wilmington, NC",msa,NC,211817.752815,212811.401542,213444.455419,214208.522948,214961.523695,...,427655.793873,428944.866043,430589.593659,432725.583449,435016.920555,436696.934007,437291.154871,437207.706025,106.407490,11.099102
161,395232,308,"Winchester, VA",msa,VA,207509.272554,207975.940007,208399.075099,209182.016892,210457.098246,...,360988.309974,361253.746904,362017.071842,363361.805365,365464.668450,367194.591654,368181.557678,368833.563357,77.743172,-2.790814
162,395235,89,"Winston, NC",msa,NC,138393.777698,138600.068853,138720.207387,139032.324674,139510.495404,...,265494.158936,265483.263838,265428.729674,266494.517692,268625.031961,271155.824004,273128.134192,274359.496842,98.245544,16.710155
163,395244,122,"York, PA",msa,PA,162653.903760,162692.135519,162798.086943,163150.247810,163528.290797,...,280449.236279,281271.712400,282538.405438,284069.972367,285610.936015,286714.880515,287335.225495,287591.152586,76.811712,12.101322